workflows/_Bayon__Automated_NewsLetter.json
{
  "name": "[Bayon] Automated NewsLetter",
  "nodes": [
    {
      "parameters": {},
      "id": "463a3ff7-7e4c-4ff5-91a1-bd39823fe679",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2780,
        -2940
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obtemos o output do nó anterior\nconst rawHTML = $json.output; // Substitua `data` pelo campo exato onde o HTML está armazenado no nó anterior.\n\n// Remove todas as quebras de linha (\\n)\nconst cleanedHTML = rawHTML.replace(/\\n/g, '');\n\n// Retorna o HTML limpo no formato esperado pelo n8n\nreturn {\n  json: {\n    cleanedHTML: cleanedHTML\n  }\n};\n\n"
      },
      "id": "be9b4527-c812-4f9d-b20e-5665f28e17f3",
      "name": "Code10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5860,
        -4020
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obtemos o output do nó anterior\nconst rawHTML = $json.output; // Substitua `data` pelo campo exato onde o HTML está armazenado no nó anterior.\n\n// Remove todas as quebras de linha (\\n)\nconst cleanedHTML = rawHTML.replace(/\\n/g, '');\n\n// Retorna o HTML limpo no formato esperado pelo n8n\nreturn {\n  json: {\n    cleanedHTML: cleanedHTML\n  }\n};\n\n"
      },
      "id": "f276c786-3717-4666-81af-5170f636a1b1",
      "name": "Code11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5860,
        -3420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obtemos o output do nó anterior\nconst rawHTML = $json.output; // Substitua `data` pelo campo exato onde o HTML está armazenado no nó anterior.\n\n// Remove todas as quebras de linha (\\n)\nconst cleanedHTML = rawHTML.replace(/\\n/g, '');\n\n// Retorna o HTML limpo no formato esperado pelo n8n\nreturn {\n  json: {\n    cleanedHTML: cleanedHTML\n  }\n};\n\n"
      },
      "id": "f3b42fb5-0750-40f9-b79f-36bb28afcf23",
      "name": "Code12",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5860,
        -3720
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obtemos o output do nó anterior\nconst rawHTML = $json.output; // Substitua `data` pelo campo exato onde o HTML está armazenado no nó anterior.\n\n// Remove todas as quebras de linha (\\n)\nconst cleanedHTML = rawHTML.replace(/\\n/g, '');\n\n// Retorna o HTML limpo no formato esperado pelo n8n\nreturn {\n  json: {\n    cleanedHTML: cleanedHTML\n  }\n};\n\n"
      },
      "id": "e6c58db1-41a3-4a29-a41e-fa657eaf70e7",
      "name": "Code13",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5860,
        -3120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5358a92a-697b-4366-a034-2f4cc8a9d1c9",
      "name": "Anthropic Chat Model8",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        5500,
        -3860
      ],
      "credentials": {
        "anthropicApi": {
          "id": "vTfnOrAfu9RcRrd6",
          "name": "Meerkat Coding Anthropic"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b3a0155a-7487-4538-955e-087db6ed9c44",
      "name": "Anthropic Chat Model9",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        5500,
        -3560
      ],
      "credentials": {
        "anthropicApi": {
          "id": "vTfnOrAfu9RcRrd6",
          "name": "Meerkat Coding Anthropic"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cba04171-dbb7-4cb5-97fa-123e823e72ab",
      "name": "Anthropic Chat Model10",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        5500,
        -3260
      ],
      "credentials": {
        "anthropicApi": {
          "id": "vTfnOrAfu9RcRrd6",
          "name": "Meerkat Coding Anthropic"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "47adb3f4-53c6-4eed-8011-8ef1c40a3d54",
      "name": "Anthropic Chat Model11",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        5500,
        -2940
      ],
      "credentials": {
        "anthropicApi": {
          "id": "vTfnOrAfu9RcRrd6",
          "name": "Meerkat Coding Anthropic"
        }
      }
    },
    {
      "parameters": {
        "content": "## Single topic Agent \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 1376.0193961439936,
        "width": 600.1818059921509
      },
      "id": "029b77f1-3eae-452a-acee-9026282afcbb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5420,
        -4140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "38014edc-8e04-4603-b857-2471c13acca3",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4120,
        -2740
      ],
      "credentials": {
        "openAiApi": {
          "id": "n02REQnUdYiyNRh5",
          "name": "OpenAi Meerkat"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "topics",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3160,
        -2940
      ],
      "id": "7a0791a2-0ad7-490f-a317-edb67aa75c94",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1a0d817-c8ec-4edf-96c0-f7e128989cdc",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "96523d83-ee9f-41b7-8ec2-612ecb030cb0",
              "name": "topic",
              "value": "={{ $('Loop Over Items').item.json.topic }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5200,
        -2660
      ],
      "id": "c9ae6979-36b6-4273-a4bb-1b038f9515d3",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3960,
        -2940
      ],
      "id": "16fa923e-f8ed-43c0-b592-d1fe51b234f2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        -2920
      ],
      "id": "528c1896-5aac-43f5-877f-6ad5decf59ee",
      "name": "Wait",
      "webhookId": "c5e41f9c-d8dc-46c3-89a1-79e2b619a1d2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.topic}}",
                    "rightValue": "COMMERCIAL REAL ESTATE & DEVELOPMENT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6503f117-b023-43ca-bbbf-a58811387d4a",
                    "leftValue": "={{$json.topic}}",
                    "rightValue": "THINGS TO DO (ACITIVITIES, EVENTS, ETC.)",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f311a656-ac51-42fa-9d8b-170890936997",
                    "leftValue": "={{$json.topic}}",
                    "rightValue": "FOOD & ENTERTAINMENT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8461b264-7c9b-4459-8452-0581fbaef763",
                    "leftValue": "={{$json.topic}}",
                    "rightValue": "COMMUNITY NEWS: LIFESTYLE, AREA GUIDES, ETC. ",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4240,
        -3140
      ],
      "id": "716ab9e9-a38f-4239-90ba-f3d0c1de041c",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c7dc6e67-183f-43c5-8697-985c40ff6f6b",
      "name": "Anthropic Chat Model12",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        6840,
        -3220
      ],
      "credentials": {
        "anthropicApi": {
          "id": "vTfnOrAfu9RcRrd6",
          "name": "Meerkat Coding Anthropic"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obtemos o output do nó anterior\nconst rawHTML = $json.output; // Substitua `data` pelo campo exato onde o HTML está armazenado no nó anterior.\n\n// Remove todas as quebras de linha (\\n)\nconst cleanedHTML = rawHTML.replace(/\\n/g, '');\n\n// Retorna o HTML limpo no formato esperado pelo n8n\nreturn {\n  json: {\n    cleanedHTML: cleanedHTML\n  }\n};\n\n"
      },
      "id": "4c10a007-719f-463f-aaf7-cb7031e76eb9",
      "name": "Code14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7320,
        -3520
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "cleanedHTML"
            }
          ]
        },
        "options": {}
      },
      "id": "4eca6310-75e4-48f3-bd82-261775dd5e85",
      "name": "Aggregate3",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6640,
        -3520
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "87015b56-1b9e-4ec0-84d6-39424bc4d00a",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        6320,
        -3540
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"topics\": [\n    \"COMMERCIAL REAL ESTATE & DEVELOPMENT in new york\",\n    \"THINGS TO DO (ACITIVITIES, EVENTS, ETC.) in new york\",\n    \"FOOD & ENTERTAINMENT in new york\",\n    \"COMMUNITY NEWS: LIFESTYLE, AREA GUIDES, ETC. in new york\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        -2940
      ],
      "id": "37b99912-b8b9-4a8a-b07f-8c6501e13ad5",
      "name": "Topics"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-large-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Your task is to retrieve the most relevant and up-to-date news article from the internet based on the user's input. Focus on finding a single, high-quality article published today that directly matches the specified topic and location.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Find me a relevant news article published today about New York on the following topic: {{ $json.topics }}. Return only the most suitable link.\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"day\",\n  \"top_k\": 1,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1\n}\n",
        "options": {}
      },
      "id": "78fe47eb-e3b7-4989-a2ba-c561e767e52f",
      "name": "perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3340,
        -2940
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Topics').item.json.topics }}"
            },
            {
              "name": "tbm",
              "value": "nws"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "api_key",
              "value": "87675115685a51e01269ccc60ebe4d2768debab35b249a0a1d09518d518f0621"
            },
            {
              "name": "tbs",
              "value": "qdr:d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        -2940
      ],
      "id": "86148f60-349e-498f-ac85-4058069d6fb9",
      "name": "SerpAPI",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76bc1295-8cf1-4f22-a13e-b24c492edbde",
              "name": "topic",
              "value": "={{ $json.search_parameters.q }}",
              "type": "string"
            },
            {
              "id": "97734cea-15f0-4017-a84d-8f6ae8cb572f",
              "name": "news_results",
              "value": "={{ $json.news_results.map(item => item.link) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3720,
        -2940
      ],
      "id": "d64a3920-720f-4377-b47a-a2b48c610492",
      "name": "News Results"
    },
    {
      "parameters": {
        "url": "={{ $json.output.match(/https?:\\/\\/[^\\s]+/)[0] }}",
        "options": {}
      },
      "id": "26c2dea9-d8ab-4a94-b5a9-81abf274dcf2",
      "name": "GET HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4740,
        -2920
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "id": "681f6eeb-9af4-4a3d-be7b-7f935cf675af",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        5020,
        -2980
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly skilled AI content creator tasked with writing engaging newsletters. Your role is to take the provided articles and transform them into a well-structured, organic, and conversational newsletter based on the main message of this article, {{ $json.data[1] }}.\n\n[IMPORTANT] Your output must focus only on the content itself, ready for immediate use, with no additional comments, signalization, or unnecessary elements like debug markers (###, \\n, or backticks).\n\n### Key Requirements:\n\n**Tone**:\n- Write in a friendly, conversational tone, as if speaking directly to the reader.\n- Use accessible language that feels natural and relatable, but still highly informational.\n\n**Structure**:\n- **Title**: Write in bold letters (<strong>) a brief and catchy phrase that offers a first impression of the article to the reader.\n- **Preheader Text**: Provide a 1–2 sentence summary that complements the subject line and encourages the reader to open the email.\n- **Main Content**:\n  - Start with a brief and engaging introduction.\n  - explain in some depth the main theme of the news in some paragraphs. \n  - Highlight key details or statistics using bold text or emojis to draw attention.\n  - Use bullet points (<ul>) or numbered lists (<ol>) for quick takeaways, only where appropriate.\n  - Cover all important topics of the news concisely without being boring or overextending.\n  - CTA (Call to Action): End the newsletter with an engaging CTA encouraging the reader to take action (e.g., sign up, reply, visit a link).\n  - include the news link\n\n**Formatting**:\n- Always use the font Arial.\n- Deliver the entire newsletter in valid, clean HTML format.\n- Use the following structure and styling for consistency:\n  - **Headline (h2)**: Use <h2> for the main title, accompanied by an emoji that matches the tone of the content.\n  - **Subheadings (h3)**: Use <h3> for section titles, with relevant emojis where appropriate.\n  - **Body Text (p)**: Write paragraphs using <p>, with a font size of 16px and line-height of 1.6 for readability.\n  - **Lists**: Use <ul> or <ol> for bullet or numbered lists, styled with proper spacing for readability.\n  - **Links**: Style links using the color #0275d8 for a clean and consistent look, and ensure all links open in a new tab with the target=\"_blank\" attribute.\n- Wrap the content inside a <div> with max-width: 600px, padding: 20px, and background color #f9f9f9 to ensure it is mobile-friendly.\n- Use #333 for text color for better contrast.\n\n**Visual Design**:\n- Use a visually appealing, clean layout to enhance readability.\n- Include emojis where appropriate to match the tone and theme of the article.\n\n**Goal**:\n- Ensure the newsletter grabs attention, provides value, and encourages readers to explore further if needed.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        5520,
        -3720
      ],
      "id": "637d07a8-5f6a-4498-88f3-587c7c9ddd83",
      "name": "AI Agent12"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly skilled AI content creator tasked with writing engaging newsletters. Your role is to take the provided articles and transform them into a well-structured, organic, and conversational newsletter based on the main message of this article, {{ $json.data[2] }}.\n\n[IMPORTANT] Your output must focus only on the content itself, ready for immediate use, with no additional comments, signalization, or unnecessary elements like debug markers (###, \\n, or backticks).\n\n### Key Requirements:\n\n**Tone**:\n- Write in a friendly, conversational tone, as if speaking directly to the reader.\n- Use accessible language that feels natural and relatable, but still highly informational.\n\n**Structure**:\n- **Title**: Write in bold letters (<strong>) a brief and catchy phrase that offers a first impression of the article to the reader.\n- **Preheader Text**: Provide a 1–2 sentence summary that complements the subject line and encourages the reader to open the email.\n- **Main Content**:\n  - Start with a brief and engaging introduction.\n  - explain in some depth the main theme of the news in some paragraphs. \n  - Highlight key details or statistics using bold text or emojis to draw attention.\n  - Use bullet points (<ul>) or numbered lists (<ol>) for quick takeaways, only where appropriate.\n  - Cover all important topics of the news concisely without being boring or overextending.\n  - CTA (Call to Action): End the newsletter with an engaging CTA encouraging the reader to take action (e.g., sign up, reply, visit a link).\n  - include the news link\n**Formatting**:\n- Always use the font Arial.\n- Deliver the entire newsletter in valid, clean HTML format.\n- Use the following structure and styling for consistency:\n  - **Headline (h2)**: Use <h2> for the main title, accompanied by an emoji that matches the tone of the content.\n  - **Subheadings (h3)**: Use <h3> for section titles, with relevant emojis where appropriate.\n  - **Body Text (p)**: Write paragraphs using <p>, with a font size of 16px and line-height of 1.6 for readability.\n  - **Lists**: Use <ul> or <ol> for bullet or numbered lists, styled with proper spacing for readability.\n  - **Links**: Style links using the color #0275d8 for a clean and consistent look, and ensure all links open in a new tab with the target=\"_blank\" attribute.\n- Wrap the content inside a <div> with max-width: 600px, padding: 20px, and background color #f9f9f9 to ensure it is mobile-friendly.\n- Use #333 for text color for better contrast.\n\n**Visual Design**:\n- Use a visually appealing, clean layout to enhance readability.\n- Include emojis where appropriate to match the tone and theme of the article.\n\n**Goal**:\n- Ensure the newsletter grabs attention, provides value, and encourages readers to explore further if needed.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        5520,
        -3420
      ],
      "id": "63bd75c8-26d0-458e-bc73-45993e2e1f92",
      "name": "AI Agent10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly skilled AI content creator tasked with writing engaging newsletters. Your role is to take the provided articles and transform them into a well-structured, organic, and conversational newsletter based on the main message of this article, {{ $json.data[0] }}.\n\n[IMPORTANT] Your output must focus only on the content itself, ready for immediate use, with no additional comments, signalization, or unnecessary elements like debug markers (###, \\n, or backticks).\n\n### Key Requirements:\n\n**Tone**:\n- Write in a friendly, conversational tone, as if speaking directly to the reader.\n- Use accessible language that feels natural and relatable, but still highly informational.\n\n**Structure**:\n- **Title**: Write in bold letters (<strong>) a brief and catchy phrase that offers a first impression of the article to the reader.\n- **Preheader Text**: Provide a 1–2 sentence summary that complements the subject line and encourages the reader to open the email.\n- **Main Content**:\n  - Start with a brief and engaging introduction.\n  - explain in some depth the main theme of the news in some paragraphs. \n  - Highlight key details or statistics using bold text or emojis to draw attention.\n  - Use bullet points (<ul>) or numbered lists (<ol>) for quick takeaways, only where appropriate.\n  - Cover all important topics of the news concisely without being boring or overextending.\n  - CTA (Call to Action): End the newsletter with an engaging CTA encouraging the reader to take action (e.g., sign up, reply, visit a link).\n  - include the news link\n\n**Formatting**:\n- Always use the font Arial.\n- Deliver the entire newsletter in valid, clean HTML format.\n- Use the following structure and styling for consistency:\n  - **Headline (h2)**: Use <h2> for the main title, accompanied by an emoji that matches the tone of the content.\n  - **Subheadings (h3)**: Use <h3> for section titles, with relevant emojis where appropriate.\n  - **Body Text (p)**: Write paragraphs using <p>, with a font size of 16px and line-height of 1.6 for readability.\n  - **Lists**: Use <ul> or <ol> for bullet or numbered lists, styled with proper spacing for readability.\n  - **Links**: Style links using the color #0275d8 for a clean and consistent look, and ensure all links open in a new tab with the target=\"_blank\" attribute.\n- Wrap the content inside a <div> with max-width: 600px, padding: 20px, and background color #f9f9f9 to ensure it is mobile-friendly.\n- Use #333 for text color for better contrast.\n\n**Visual Design**:\n- Use a visually appealing, clean layout to enhance readability.\n- Include emojis where appropriate to match the tone and theme of the article.\n\n**Goal**:\n- Ensure the newsletter grabs attention, provides value, and encourages readers to explore further if needed.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        5520,
        -4020
      ],
      "id": "4e0dcf6c-5489-425a-860b-29fd3614f412",
      "name": "AI Agent 1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly skilled AI content creator tasked with writing engaging newsletters. Your role is to take the provided articles and transform them into a well-structured, organic, and conversational newsletter based on the main message of this article, {{ $json.data[3] }}.\n\n[IMPORTANT] Your output must focus only on the content itself, ready for immediate use, with no additional comments, signalization, or unnecessary elements like debug markers (###, \\n, or backticks).\n\n### Key Requirements:\n\n**Tone**:\n- Write in a friendly, conversational tone, as if speaking directly to the reader.\n- Use accessible language that feels natural and relatable, but still highly informational.\n\n**Structure**:\n- **Title**: Write in bold letters (<strong>) a brief and catchy phrase that offers a first impression of the article to the reader.\n- **Preheader Text**: Provide a 1–2 sentence summary that complements the subject line and encourages the reader to open the email.\n- **Main Content**:\n  - Start with a brief and engaging introduction.\n  - explain in some depth the main theme of the news in some paragraphs. \n  - Highlight key details or statistics using bold text or emojis to draw attention.\n  - Use bullet points (<ul>) or numbered lists (<ol>) for quick takeaways, only where appropriate.\n  - Cover all important topics of the news concisely without being boring or overextending.\n  - CTA (Call to Action): End the newsletter with an engaging CTA encouraging the reader to take action (e.g., sign up, reply, visit a link).\n  - include the news link\n\n**Formatting**:\n- Always use the font Arial.\n- Deliver the entire newsletter in valid, clean HTML format.\n- Use the following structure and styling for consistency:\n  - **Headline (h2)**: Use <h2> for the main title, accompanied by an emoji that matches the tone of the content.\n  - **Subheadings (h3)**: Use <h3> for section titles, with relevant emojis where appropriate.\n  - **Body Text (p)**: Write paragraphs using <p>, with a font size of 16px and line-height of 1.6 for readability.\n  - **Lists**: Use <ul> or <ol> for bullet or numbered lists, styled with proper spacing for readability.\n  - **Links**: Style links using the color #0275d8 for a clean and consistent look, and ensure all links open in a new tab with the target=\"_blank\" attribute.\n- Wrap the content inside a <div> with max-width: 600px, padding: 20px, and background color #f9f9f9 to ensure it is mobile-friendly.\n- Use #333 for text color for better contrast.\n\n**Visual Design**:\n- Use a visually appealing, clean layout to enhance readability.\n- Include emojis where appropriate to match the tone and theme of the article.\n\n**Goal**:\n- Ensure the newsletter grabs attention, provides value, and encourages readers to explore further if needed.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        5520,
        -3120
      ],
      "id": "53ea1709-9a73-428c-bc1b-9fcac1da4f10",
      "name": "AI Agent11"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Combine the content from the four sections into a single cohesive newsletter. The sections will come from the following inputs:\n\nCOMMERCIAL REAL ESTATE & DEVELOPMENT:  {{ $json.cleanedHTML[0] }}\nTHINGS TO DO: {{ $json.cleanedHTML[1] }}\nFOOD & ENTERTAINMENT: {{ $json.cleanedHTML[2] }}\nCOMMUNITY NEWS: {{ $json.cleanedHTML[3] }}\nFollow these specific guidelines to structure and format the newsletter:\n\n1. Header Structure\nInclude the date in the top-right corner with navigation links (e.g., Home | Subscribe | Contact).\nAdd the newsletter name with an icon/logo.\nIf applicable, include “PRESENTED BY [Sponsor]” below the name/logo.\nStart with an engaging opening hook, referencing current events or pop culture to draw readers in.\n2. Content Organization\nArrange the content in the following order:\nCOMMERCIAL REAL ESTATE & DEVELOPMENT\nTHINGS TO DO\nFOOD & ENTERTAINMENT\nCOMMUNITY NEWS\nUse clear section headers in blue to separate each part.\nAdd smooth transitions between sections for a natural flow and cohesive reading experience.\nchange things where needed\n3. Formatting Guidelines\nuse the font Arial\nUse bold for key terms and important numbers.\nItalicize locations, names, and dates for emphasis.\nInclude bullet points with strategic emoji placement for readability and visual appeal.\nchange letters color when apropriated\n4. Closing Section\nEnd with a call-to-action, encouraging readers to share, comment, or subscribe to the newsletter.\nInclude a social sharing prompt (e.g., “Share this newsletter with your friends!”).\nAdd hyperlinks to subscription options or additional resources.\nOutput: Return the final, fully formatted newsletter in HTML format, ready for publication.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        6920,
        -3520
      ],
      "id": "a24ce319-31d6-4c65-befa-feb76e022891",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From the provided links: {{ $json.news_results }}\n\nselect the one that is least likely to have anti-bot shielding based on the following criteria:\n\nAccessibility: Links that do not block automated requests via captchas, rate-limiting, or other common anti-bot measures.\nContent visibility: Pages where content is fully visible without requiring interactions such as logging in or bypassing a paywall.\nReputation: Prioritize links from domains known for being accessible and user-friendly to automated systems (e.g., public news sources over private or restricted ones).\nOutput: Return only the selected link. If multiple links are equally valid, choose the link that most closely matches the topic {{ $json.topic }}.",
        "options": {}
      },
      "id": "2f2800ef-2c4d-438f-8afe-41a2e6e45874",
      "name": "AI Agent13",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4220,
        -2920
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent13",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "GET HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model12": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topics": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "perplexity API": {
      "main": [
        [
          {
            "node": "SerpAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "main": [
        [
          {
            "node": "News Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News Results": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET HTML": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent12": {
      "main": [
        [
          {
            "node": "Code12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent10": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 1": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent11": {
      "main": [
        [
          {
            "node": "Code13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code12": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code13": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent13": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6655fe37-8295-4dba-9191-a833ec166bb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2eeaa7283ed603a330111283a3e23ffcb6a399e898b514894a036f6d0a8ef94b"
  },
  "id": "SkHIKRMI6SCFX4D2",
  "tags": []
}